header {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    align-self: center;
    padding: 5px;
  }
  .aboutMe {
    font-family: "Montserrat", sans-serif;
    line-height: 1.3;
    text-align: justify;
    font-size: 14px;
  }
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}

.slide {
  width: 67.3%;
  height: 67.3%;
}

.fa-angle-up {
  font-size: 35px;
  color: rgb(0, 0, 0);
}

.submit {
  color: rgb(34, 34, 34);
  border-color: rgb(19, 18, 18);
  outline-color: rgb(124, 124, 124);
}

.aboutMe {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  text-align: justify;
}

.d-block {
  width: 90%;
  height: 90%;
}
