header {
    text-align: center;
}
/* * {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
} */

.nav-link {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 20px;
}
.text-secondary {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.fa-angle-up {
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.submit {
    color: rgb(34, 34, 34);
    border-color: rgb(19, 18, 18);
    outline-color: rgb(124, 124, 124);
}

.aboutMe {
    line-height: 1.8;
    text-align: justify;
}
